body {
  background: #121F28;
  font-family: 'Clear Sans', sans-serif;
}

header {
  background: #0A1216;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar {
  position: fixed;
  margin-top: 70px;
  height: 80px;
  z-index: 99;
  background: #121F28;
}

.logo-ghop {
  width: 130px;
  height: auto;
}

.btn-outline-info {
  border-color: #3BB8B8;
}

.custom-nav-link {
  color: #FF7700;
  border-color: #FF7700;
  background-color: transparent;
  width: 100px;
  /* Otros estilos personalizados aquí */
}

.custom-nav-link:hover {
  background-color: #FF7700;
  
}

.btn-onlogout {
  background: #FF7700;
  border: #FF7700;
  color: white;
}

.btn-onclose {
  background: #121F28;
  border: #121F28;
  color: white;
}

.half-card-img {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  /* max-height: 50%; */
}

.card-footer {
  background: #0B1318; 
  border: #0B1318;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4.48px;
  position: relative;
  width: 100%;
}

.card-text {
  color: #FF7700;
}

.card-cesta {
  max-width: 540px;
  border: #0B1318;
}

.card-product {
  border: #0B1318; 
}

.btn-block {
  background-color: #3BB8B8;
  width: 100%;
  height: 50px;
  /* align-items: flex-end;
  display: flex!important; */
}

.fixed-cesta {
  background: #0E1920;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  padding: 10px;
  color: white;
  position: fixed;
  overflow-y: scroll;
  height: 100%;
  flex-grow: 1;
}

.header-cesta {
  margin-top: 72px;
  margin-left: 12px;
  margin-right: 12px;
}

.scrollable-content{
  flex: 1;
  overflow: auto;
  height: 50px;
  margin-left: 12px;
  margin-right: 12px;
  max-width: 100%; /* O el valor que consideres adecuado */
  overflow-x: hidden;
}

.foother-cesta  {
  border-top: 1px solid var(--white-cream);
  padding: 16px;
}

.btn-cesta {
  background: #FF7701;
  
}

.alert {
  background: #121F28;
}

.gif-container {
  width: 100vw; /* 100% del ancho de la ventana */
  height: 100vh; /* 100% de la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
}