/* 
    General Styles used on every website (Don't Repeat Yourself)
*/



body {
    background: #121F28;
    font-family: 'Clear Sans', sans-serif;
 }

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #FF7700; /* Cambia el color de fondo a naranja */
}



                
  


